---
import "../styles/global.css";
import Navigation from './Navigation.astro';
import Footer from './Footer.astro';

export interface Props {
  title: string;
  currentPage?: string;
}

const { title, currentPage } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="view-transition" content="same-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>
  <body class="bg-background text-white">
    <Navigation currentPage={currentPage} />

    <div class="min-h-screen">
      <slot />
    </div>

    <Footer />
  </body>
</html>